.channel(v-if="category === 'channel'")
    .list-messages
        include message.pug
    //- .add-sticker(:class="{ 'active': addSticker.open }")
    //-     input.name-sticker(type="text", placeholder="Название стикера", v-model="addSticker.name")
    //-     input.url-sticker(type="text", placeholder="Сслыка на картинку", v-model="addSticker.url")
    //-     .button-add 
    //-         i.uil.uil-plus
    //-         span Добавить
    .chat-input
        input(type="text", placeholder="Написать сообщение...", v-model="content", @keyup.enter="sendMessage()")
        //- .stickers(data-ui-title="Стикеры")
        //-     i.uil.uil-image
        //- .sticker-add(data-ui-title="Добавить стикер", @click="addSticker.open = !addSticker.open")
        //-     i.uil.uil-image-plus
        .send(data-ui-title="Отправить", @click="sendMessage()")
            i.uil.uil-message
