.message(v-for="(msg, index) of messages", :key="index",
    @click.right="msg.user.id === mUser.id ? setContextMenu($event, [ { label: 'Удалить сообщение', click: () => messageDelete(msg.id) }]) : null"
)
    .user
        .image(:style="{ 'background-image': `url('${msg.user.avatar}')` }")
            .status(v-if="msg.user?.status && userStatus[0] === msg.user.id && userStatus[1] === msg.id")
                div Статус
                div {{ msg.user.status }}
    .content 
        .header
            .username(:style="{ color: msg.user.color }" @click="getUser(msg.user.id)") {{ msg.user.username }}
            .i(v-if="msg.user.id === mUser.id") Вы
            .date {{ timeago(msg.date) }}
        .text {{ msg.content }} 
