.markdown-content {
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    .monospace {
        padding: 2px 4px;
        border-radius: 5px;
        background: var(--dimming);
    }

    pre {
        margin: 0;
        padding: 12px;
        border-radius: 10px;
        background: var(--dimming);
    }

    ul {
        li {
            list-style-type: disc;
            margin-inline-start: 16px;
        }
    }

    .blockquote {
        padding: 8px 12px;
        color: var(--color);
        font-weight: 600;
        border-left: 4px solid var(--dimming);
    }

    p {
        margin: 0;
        padding: 0;
    }

    input[type="checkbox"] {
        margin: 4px 8px 4px 0;
    }

    .warning, .error {
        // margin: 12px 0;
        padding: 16px;
        border-radius: 7px;
        border-left: 5px solid var(--T);
        transition: .2s;
        box-sizing: border-box;
    }
    .warning {
        color: var(--C6);
        border-left-color: var(--C6);
        background: var(--C6-alt);
    }
    .error {
        color: var(--C5);
        border-left-color: var(--C5);
        background: var(--C5-alt);
    }
}