.message(v-for="(msg, index) of messages", :key="index", :class="{ selected: selectedMessages.find(item => item === msg.id) }",
    @click.right="msg.user.id === mUser.id ? setContextMenu($event, [ { label: 'Изменить сообщение', click: () => content = { mode: 'edit', text: msg.content, messageId: msg.id } }, { label: 'Удалить сообщение', click: () => messageDelete(msg.id) } ]) : null"
)
    .user
        .image(:style="{ 'background-image': `url('${msg.user.avatar}')` }")
    .content 
        .header
            .username(:style="{ color: msg.user.color }" @click="getUser(msg.user.id)") {{ msg.user.username }}
            .i(v-if="msg.user.id === mUser.id") Вы
            .date {{ timeago(msg.date) }}
        .text(v-html="getContent(msg.content)", v-if="msg?.type !== 'sticker'",  :class="{ edited: msg.edited }")
        .sticker(v-if="msg?.type === 'sticker'")
            img(:src="msg.content")
