.user {
    display: flex;
    margin: 3px 8px;
    align-items: center;

    .image {
        margin: 0 8px 0 0;
        width: 32px;
        height: 32px;
        position: relative;
        border-radius: 50%;
        background-size: 100%;

        .platform {
            position: absolute;
            right: -2px;
            bottom: -2px;
            font-size: 12px;
            border-radius: 50%;
            background: var(--bg);
        }
    }

    .header {
        font-size: 14px;

        .username, .status {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .status {
            color: var(--color-2);
            font-size: 12px;
        }
    }
}