.chat {
    height: 100%;
    position: relative;
    transition: all .2s;

    .list-messages {
        padding: 12px 0;
        height: calc(100% - 64px - 24px);
        overflow-x: hidden;

        @import 'components/message.scss';
    }

    .chat-input, .add-sticker {
        display: flex;
        margin: 8px;
        padding: 8px;
        width: calc(100% - 32px);
        position: absolute;
        bottom: 0px;
        align-items: center;
        border-radius: 7px;
        background: var(--bg-3);

        input, textarea {
            padding: 8px 14px;
            width: 100%;
            color: var(--color);
            border-radius: 7px;
            background: var(--T);
            transition: .2s;

            &:focus {
                background: var(--bg-2);
            }
        }

        textarea {
            position: relative;
            bottom: 0px;
            resize: none;

            &[rows="1"] {
                height: 18px;
            }
        }

        .btn {
            cursor: pointer;
            margin: 0 6px;
            min-width: 32px;
            min-height: 32px;
            text-align: center;
            line-height: 32px;
            border-radius: 7px;
            transition: .2s;
    
            &:hover {
                color: #000;
                box-shadow: 0 0 10px 0 var(--dimming-2);
                background: var(--C1);
                // transform: scale(1.1);
            }
        }

        .button-add span {
            display: none;
        }

        .block {
            max-width: 99%;
            width: 100%;
            position: absolute;
            left: 0px;
            bottom: calc(100% + 16px);
            z-index: 1;

            @import 'components/stickers.scss';
        }
    }
}

@media (max-width: 480px) {
    .channel .add-sticker {
        display: block;

        // input {
        //     margin: 0 0 8px 0 !important;
        //     max-width: calc(100% - 28px) !important;
        // }

        .button-add {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                display: block;
                margin: 0 0 0 8px;
            }
        }
    }
}