.message {
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    transition: .2s;

    &.selected {
        background: var(--bg-3);
    }

    &:hover:not(.selected) {
        background: #00000010;
    }

    .user {
        margin: 0 8px 0 0;

        .image {
            width: 42px;
            height: 42px;
            position: relative;
            border-radius: 50%;
            background-size: 100%;

            .status {
                padding: 4px 8px;
                max-width: 376px;
                min-width: 256px;
                position: absolute;
                top: 24px;
                left: 48px;
                font-size: 14px;
                word-break: break-all;
                border-radius: 5px;
                background: var(--bg-3);
                z-index: 100;

                div:nth-child(1) {
                    color: var(--color-3);
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                div:nth-child(2) {
                    max-height: 128px;
                    overflow-x: hidden;
                }
            }
        }

        .platform {
            width: 18px;
            height: 18px;
            position: absolute;
            right: 0;
            bottom: 0;
            color: var(--C2);
            font-size: 12px;
            text-align: center;
            line-height: 18px;
            border-radius: 50%;
            background: var(--bg);
        }
    }

    .header {
        display: flex;
        position: relative;
        max-width: calc(100% - 38px);
        align-items: center;

        .username {
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .i {
            margin: 0 4px;
            padding: 2px 6px;
            color: var(--C1);
            font-size: 10px;
            text-transform: uppercase;
            border-radius: 3px;
            background: var(--bg-2-alt);
        }

        .date {
            margin: 0 4px;
            color: var(--color-3);
            font-size: 12px;
            white-space: nowrap;
        }

        .message-menu {
            margin: 0 4px;
            position: relative;
            right: 0;
            transition: .2s;
            opacity: 0;
            z-index: -1;
            
            div {
                cursor: pointer;
                padding: 0 2px;
                font-size: 11px;
                border-radius: 3px;

                &:hover {
                    color: #fff;
                    background: var(--C1);
                }
            }

            ul {
                min-width: 128px;
                position: absolute;
                top: calc(100% - 16px);
                right: 0;
                border-radius: 5px;
                box-shadow: 0 0 5px 0 var(--dimming);
                background: var(--bg);
                overflow: hidden;
                opacity: 0;
                z-index: -1;

                &.active {
                    top: calc(100% + 4px);
                    left: -114px;
                    transition: .2s;
                    opacity: 1;
                    z-index: auto;
                }

                li {
                    cursor: pointer;
                    display: flex;
                    padding: 4px 8px;
                    font-size: 13px;
                    align-items: center;
                    transition: .2s;

                    &:hover {
                        background: var(--dimming);
                    }
                    
                    i {
                        margin: 0 4px 0 0;
                    }

                    // span {
                    //     color: var(--color-3);
                    // }

                    &.delete:hover {
                        color: var(--C5);
                    }
                }
            }
        }
    }

    .content {
        width: 100%;

        .text {
            display: inline-block;
            padding: 8px;
            position: relative;
            color: var(--color-2);
            font-size: 14px;
            word-break: break-all;
            border-radius: 0 10px 10px 10px;
            background: var(--bg-3);

            &.edited {
                &::after {
                    content: " ";
                    min-width: 8px;
                    min-height: 8px;
                    position: absolute;
                    left: -4px;
                    bottom: -4px;
                    border-radius: 50%;
                    background: var(--C1);
                }
            }

            p {
                margin: 0;
                padding: 0;
            }

            a {
                color: var(--C1);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .sticker {
            img {
                width: 256px;
                height: 256px;
                border-radius: 5px;
                object-fit: cover;
                object-position: 50% 50%;
                background-color: var(--bg-3);
            }
        }
    }
}