.stickers {
    padding: 12px;
    border-radius: 5px;
    background: var(--bg-3);

    .list {
        display: flex;
        max-height: 256px;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 12px;
        overflow-x: hidden;

        img {
            cursor: pointer;
            width: 128px;
            height: 128px;
            border-radius: 5px;
            object-fit: cover;
            object-position: 50% 50%;
            transition: .2s;

            &:active {
                transform: scale(.8);
            }
        }
    }

    .add {
        display: flex;
        margin: 8px 0 0 0;
        align-items: center;
    }
}