.menu(:class="{ 'mini': panels.menu }")
    .title Меню
    ul.buttons
        li(v-for="(name, ct) in categories", :key="ct", @click="category = ct", :class="{ 'active': category === ct }")
            div
                i(:class="name[1]")
            span {{ name[0] }}
    .title Комнаты
    ul.list
        li
            img(src="https://social.wxcafe.net/system/media_attachments/files/000/001/541/original/b7f17be84c44a680.png")
            div
                div Coffee
                span 23 участника