.message(v-for="(message, index) of messages", :key="index", @mouseleave="messageFun = false")
    .user
        .image(:style="{ 'background-image': `url('${message.user.avatar}')` }")
    .content 
        .header
            .username(:style="{ color: message.user.color }") {{ message.user.username }} 
            .i Вы
            .date {{ unix(message.date).day }} {{ unix(message.date).month_name }} {{ unix(message.date).year }}
            .message-menu
                div(@click="messageFun = !messageFun")
                    i.uil.uil-ellipsis-h
                ul(:class="{ 'active': messageFun }")
                    li
                        i.uil.uil-comment-alt
                        span Ответить
                    li
                        i.uil.uil-pen
                        span Изменить
                    li.delete
                        i.uil.uil-trash
                        span Удалить
        .text {{ message.content }} 
