.message(v-for="(message, index) of new Array(50)", :key="index", @mouseleave="messageFun = false")
    .user
        .image(:style="{ 'background-image': `url('https://sun9-84.userapi.com/impg/-yvadSwbQ_bXzRL5jfdXYmrTrQJTXGXkxdK6lQ/jUdxxi1M4Js.jpg?size=331x331&quality=96&sign=372a1b6f271c8e96942950b57286cbc3&type=album')` }")
    .content 
        .header
            .username(:style="{ color: '#7579ff' }") Heito
            .i Вы
            .date {{ unix().day }} {{ unix().month_name }} {{ unix().year }}
            .message-menu
                div(@click="messageFun = !messageFun")
                    i.uil.uil-ellipsis-h
                ul(:class="{ 'active': messageFun }")
                    li
                        i.uil.uil-comment-alt
                        span Ответить
                    li
                        i.uil.uil-pen
                        span Изменить
                    li.delete
                        i.uil.uil-trash
                        span Удалить
        .text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro quo animi aspernatur excepturi vitae quidem quod assumenda nulla placeat, aut similique harum magnam totam minus?