.user(v-for="(user, index) of users", :key="index", :id="user.id")
    .user
        .avatar(v-if="user.avatar")
            .image(:style="{ 'background-image': `url('${user.avatar}')` }")
            //- .platform(:data-ui-title="user.platform")
            //-     i(:class="platforms[user.platform]")
    div
        .header
            .username(:style="{ color: user.color }") {{ user.username }}