.user(v-for="(user, index) of new Array(25)", :key="index")
    .image(:style="{ 'background-image': `url('https://sun9-84.userapi.com/impg/-yvadSwbQ_bXzRL5jfdXYmrTrQJTXGXkxdK6lQ/jUdxxi1M4Js.jpg?size=331x331&quality=96&sign=372a1b6f271c8e96942950b57286cbc3&type=album')` }")
        .platform(data-ui-title="Android")
            i(:class="platforms['Android']", :style="{ 'color': 'var(--C2)' }")
    .header
        .username(:style="{ color: '#7579ff' }") Heito
        .status Test
//- .user(v-for="(user, index) of users", :key="index", :id="user.id")
//-     .user
//-         .avatar(v-if="user.avatar")
//-             .image(:style="{ 'background-image': `url('${user.avatar}')` }")
//-             //- .platform(:data-ui-title="user.platform")
//-             //-     i(:class="platforms[user.platform]")
//-     div
//-         .header
//-             .username(:style="{ color: user.color }") {{ user.username }}