.chat(v-if="page === 'chat'")
    .list-messages
        include components/message.pug
    .chat-input
        .block
            include components/stickers.pug
        textarea(placeholder="Написать сообщение...", rows="1", v-model="content.text", @keyup.shift.enter.exact="setRows($event)", @keydown.enter.exact.prevent, @keyup.enter.exact="sendMessage(); $event.target.setAttribute('rows', 1)", required)
        .btn.stickers(data-ui-title="Стикеры" @click="panel.stickers ? panel.stickers = false : getStickers()")
            i.uil.uil-image
        .btn.send(data-ui-title="Отправить", @click="sendMessage()")
            i.uil.uil-message
