.profile(v-if="category === 'profile'")
    .subtitle Ваш ID: {{ mUser.id }}
    .subtitle Аватарка пользователя
    .avatar
        img(:src="mUser.avatar")
        input(type="text", placeholder="Ссылка на картинку", v-model="mUser.avatar")
    .subtitle Имя пользователя
    input(type="text", v-model="mUser.username")
    .subtitle Цвет ника
    label.color
        input(type="color", v-model="mUser.color")
        div(:style="{ 'background': mUser.color }")
    .subtitle Статус пользователя
    input(type="text", v-model="mUser.status")
    ul.buttons 
        li.save(@click="setupSettings()") Сохранить
        li.delete(@click="deleteAccount()") Удалить аккаунт
