.chat(v-if="page === 'chat'")
    //- .bg(style="background-image: url('https://s.cafebazaar.ir/1/upload/screenshot/com.sadrooid15.Materialwallpapers5.jpg')")
    include header.pug
    .block
        include menu.pug
        include categories/chat/index.pug
        //- include chat/users.pug
        include categories/setting.pug
        include categories/profile.pug
