.chat {
    .bg {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    @import 'chat/header';

    .block {
        display: flex;
        width: 100%;
        height: calc(100% - 48px);
        position: absolute;
        top: 48px;
        left: 0;
        // background: linear-gradient(45deg, #151518d2, #000000d2);
        overflow: hidden;

        @import 'chat/menu';

        @import 'chat/channel';

        @import 'chat/users';

        @import 'setting';

        @import 'profile';

        @import 'groups';
    }
}