.groups {
    margin: 8px;
    width: 100%;
    position: relative;

    ul.buttons {
        display: flex;
        margin: 8px 0;
        align-items: center;

        li {
            cursor: pointer;
            display: flex;
            padding: 6px 10px;
            font-size: 14px;
            border-radius: 7px;
            align-items: center;
            transition: .2s;

            &:hover {
                background: var(--C2);
            }

            i {
                margin: 0 8px 0 0;
            }
        }
    }

    .title {
        font-size: 18px;
        font-weight: 600;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .group {
        cursor: pointer;
        display: flex;
        margin: 8px;
        padding: 8px;
        font-size: 14px;
        align-items: center;
        background: var(--bg-2-alt);
        transition: .2s;

        &:hover {
            box-shadow: 0 5px 5px -5px var(--color);
            background: var(--bg-2);
            transform: translateY(-4px);
        }

        img {
            margin: 0 8px 0 0;
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }

        .info {
            .count-users {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 800px) {
    .groups .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 540px) {
    .groups .list {
        grid-template-columns: 1fr;
    }
}