.login {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);

    .logo {
        margin: 0 0 8px 0;
        font-size: 24px;
        font-family: Dancing Script;
        // font-weight: 600;
        text-align: center;
    }

    .title {
        margin: 8px 0;
        font-weight: 600;
        text-align: center;
    }

    .subtitle {
        margin: 0 8px;
        color: var(--color-2);
        font-size: 12px;
        font-weight: 600;
    }

    input {
        margin: 4px 8px;
        padding: 8px 14px;
        width: 196px;
        color: var(--color);
        border-radius: 5px;
        border: 1px solid var(--T);
        background: var(--bg-2-alt);
        transition: .2s;

        &:focus {
            border: 1px solid var(--C1);
        }
    }

    .button {
        cursor: pointer;
        margin: 8px auto 0 auto;
        padding: 8px 12px;
        min-width: 96px;
        color: #000;
        text-align: center;
        background: var(--C1);
        transition: .2s;
        user-select: none;

        &:hover {
            box-shadow: 0 5px 5px -5px var(--dimming-3);
            transform: translateY(-4px);
        }

        &:active {
            background: var(--C1-alt);
            transform: scale(.9);
        }
    }

    .subbutton {
        cursor: pointer;
        margin: 4px 0;
        color: var(--color-2);
        font-size: 12px;
        text-align: center;
        transition: .2s;
        user-select: none;

        &:hover {
            color: var(--C7);
        }

        &:active {
            color: var(--color);
        }
    }

    .colors {
        display: flex;
        margin: 8px 0 0 0;
        align-items: center;
        justify-content: center;

        li {
            cursor: pointer;
            margin: 0 4px;
            width: 24px;
            height: 24px;
            border-radius: 5px;
            transition: .2s;

            &:hover, &.active {
                transform: scale(1.1);
            }
        }

        label {
            cursor: pointer;
            margin: 0 4px;
            width: 24px;
            height: 24px;
            border-radius: 5px;

            input {
                padding: 0;
                width: 0;
                height: 0;
                opacity: 0;
                z-index: -1;
            }
        }
    }
}