.setting {
    width: 100%;
    position: relative;

    .title {
        margin: 8px;
        font-size: 20px;
        font-weight: 600;
    }

    .option {
        display: flex;
        margin: 8px;
        padding: 16px;
        align-items: center;
        justify-content: space-between;
        background: var(--bg-2-alt);
    }

    .info {
        .header {
            font-weight: 600;
        }
        
        .text {
            margin: 4px 0 0 4px;
            color: var(--color-3);
            font-size: 12px;
        }
    }

    ul.items {
        margin: 8px;
        padding: 16px;

        .info {
            margin: 0 0 8px 0;
        }

        li.bg-item {
            cursor: pointer;
            width: 96px;
            height: 64px;
            border-radius: 5px;
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;
            transition: .2s;

            &:hover {
                box-shadow: 0 5px 5px -5px var(--color);
                transform: translateY(-4px);
            }
        }
    }

    label.check {
        user-select: none;

        input[type=checkbox]{
            height: 0;
            width: 0;
            position: absolute;
            visibility: hidden;
        }
        
        span {
            cursor: pointer;
            display: block;
            width: 32px;
            height: 16px;
            position: relative;
            text-indent: -9999px;
            background: var(--bg-2);
            border-radius: 100px;
            transition: .2s;
        }
        
        span:after {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 90px;
            background: #fff;
            transition: 0.3s;
        }
        
        input:checked + span {
            background: var(--C1);
        }
        
        input:checked + span:after {
            left: calc(100% - 4px);
            transform: translateX(-100%);
        }
        
        &:active span:after {
            width: 14px;
        }
        
    }
}