.login(v-if="page === 'login'")
    .logo Mirai / Authorization
    .subtitle User Token
    input(type="text", maxlength="36", v-model="mUser.token")
    .subbutton(@click="createAccount()") Нет аккаунта?
    .button(@click="buttonLogin()") Войти
