.chat(v-if="login")
    .bg(style="background-image: url('https://s.cafebazaar.ir/1/upload/screenshot/com.sadrooid15.Materialwallpapers5.jpg')")
    .block
        .list-messages
            include chat/message.pug
        .bar
            input(type="text", placeholder="Ваше сообщение", @keyup.enter="sendMessage()", v-model="content")
            .button(@click="sendMessage()")
                i.uil.uil-message