.chat(v-if="page === 'chat'")
    //- .bg(style="background-image: url('https://s.cafebazaar.ir/1/upload/screenshot/com.sadrooid15.Materialwallpapers5.jpg')")
    include header.pug
    .block
        include chat/menu.pug
        include chat/channel.pug
        include chat/users.pug
        include setting.pug
        include profile.pug
        //- .users(v-if="panels.users")
        //-     .c-title Участники
        //-     include chat/user.pug
        //- .channel
        //-     .list-messages
        //-         include chat/message.pug
        //-     .bar
        //-         input(type="text", placeholder="Ваше сообщение", @keyup.enter="sendMessage()", v-model="content")
        //-         .button(@click="sendMessage()")
        //-             i.uil.uil-message
