.chat-header
    .logo Mirai
    ul.menu
        li(v-if="category === 'channel'", :data-ui-title="`Участники - ${panels.users ? 'Выкл.' : 'Вкл.'}`", uit-bottom, @click="panels.users = !panels.users")
            i.uil.uil-users-alt
        li(:data-ui-title="panels.menu ? 'Мини меню' : 'Меню'", uit-bottom, @click="panels.menu = !panels.menu")
            i.uil.uil-draggabledots
        .user(@click="profile.open = !profile.open")
            .username {{ mUser.username }}
            .avatar(:style="{ 'background-image': `url('https://sun9-84.userapi.com/impg/-yvadSwbQ_bXzRL5jfdXYmrTrQJTXGXkxdK6lQ/jUdxxi1M4Js.jpg?size=331x331&quality=96&sign=372a1b6f271c8e96942950b57286cbc3&type=album')` }")
            ul.buttons(:class="{ 'active': profile.open }")
                li(@click="exitUser()") Выйти