doctype html
html(theme="light")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Jynx
        link(rel="stylesheet", href="https://unicons.iconscout.com/release/v4.0.0/css/line.css")
        //- link(rel="stylesheet", href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css")
        link(rel="stylesheet", href="css/style.css")
    body
        #app
            include auth/index.pug
            include menu/index.pug
            include contextMenu/index.pug
            include main/sidebar/index.pug

            .page
                include main/chat/index.pug
                include main/profile/index.pug
                include main/settings/index.pug

        script(src="/socket.io/socket.io.js")
        script(src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js")
        script(src="js/functions.js")
        script(src="js/user.js")
        script(src="js/chat.js")
        script(src="js/contextMenu.js")
        script(src="js/main.js")
        script(src="js/main.js")