.menu-user
    .header 
        img(:src="mainMenu?.data.avatar")
        div
            .username(:style="{ color: mainMenu.data.color }") {{ mainMenu.data.username }}
            .id ID:
                span {{ mainMenu.data.id }}
    .status(v-if="mainMenu?.data?.status")
        .subtitle Статус
        div {{ mainMenu.data.status }}